---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Open Climate Resilience Policies">
  <h1>Open Climate Resilience Policies</h1>
  <p>Open Climate Resilience Policies, OCRP, is an open source library of model policies designed to reduce climate related losses for governments.</p>
</Layout>
